.search_transition{
    transition-property: height;
    transition-duration: 0.4s;
    height: 0px;
}
.search_transition[clas='1']{
    transition-property: height;
    transition-duration: 0.4s;
    height: 30vw;
}
.search_choise{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}