.search_transition{
    transition-property: height;
    transition-duration: 0.4s;
    height: 0px;
}
.search_transition[clas='1']{
    transition-property: height;
    transition-duration: 0.4s;
    height: 30vw;
}
.search_choise{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.search_slider{
    pointer-events: none;
    outline: none;
    height: 0;
}
.search_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }
.search_slider::-webkit-slider-thumb {
    cursor: pointer;
    height: 4vw;
    width: 2vw;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
}
.search_slider::-moz-range-thumb {
    cursor: pointer;
    height: 4vw;
    width: 2vw;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
}