@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap%27");
.headerBig {
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: none;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  height: 8vh;
}
.headerContent {
  width: 18vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.headerContentRight {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 5vw;
  height: 5vh;
  border-radius: 35px;
  border: none;
}
.headerHamburger {
  width: 2vw;
  height: 2vh;
}
.headerContentRight1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 2vw;
  border-radius: 35px;
  height: 4vh;
}
.headerContentRight2 {
  width: 2vw;
  height: 4vh;
}
.headerHostBtn {
  font-family: "arial";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 17px;
  width: 10vw;
  height: 5vh;
  background-color: #484848;
  color: #ffffff;
  border-radius: 35px;
  border: none;
}
.headerLogo {
  height: 6vh;
}
.headerContent1 {
  display: flex;
  width: 8vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.headerhaichu {
  font-family: "Pacifico";
  font-size: 30px;
}
