.homeBig {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/homeBack.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
.Home {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12vh;
  background-color: var(--dark-prim-500);
}
.homePage1 {
  width: 90vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}
.homePage1Contents {
  width: 10vw;
  display: flex;
  flex-direction: row;
  gap: 1vw;
  align-items: center;
  justify-content: center;
}
.homePage1Content {
  height: 7vh;
  display: flex;
  flex-direction: row;
  gap: 4vw;
}
.homePage1Topic {
  width: 15vw;
  height: 14vh;
  font-family: "arial";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 49px;
  color: white;
  text-align: center;
}
.homePage1Content1 {
  width: 10vw;
  height: 4vh;
  font-family: "arial";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 20px;
  color: white;
}
.homePage1Content1:hover {
  border-bottom: 3px solid white;
  cursor: pointer;
}
.homePage2 {
  width: 90vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  justify-content: center;
}
.homePage2Content1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 2vh;
}
.homePage2Content1Texts {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: var(--white);
}
.homePage2Content1Text {
  width: 18vw;
  height: 5vh;
  font-family: "arial";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 48px;
}
.homePage2Content1Zuras {
  width: 6vw;
  height: 6px;
  border-radius: 10px;
  background-color: var(--white);
}
.homePage2Content2Cards {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  overflow-x: scroll;
}
.homePage3 {
  width: 90vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  justify-content: center;
}
.homePage4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 40vh;
  background-color: #eff0f2;
  border-radius: 10px;
}
.homePage4Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 80vw;
  height: 35vh;
  gap: 3vh;
}
.homePage4ContentText1 {
  width: 18vw;
  height: 10vh;
  font-family: "arial";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 6vh;
  color: #484848;
}
.homePage4ContentText2 {
  width: 23vw;
  height: 4vh;
  font-family: "arial";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 52px;
  color: #9a9a9a;
}
.homePage4ContentBtn {
  font-family: "arial";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 17px;
  width: 14vw;
  height: 6vh;
  background-color: #484848;
  color: #ffffff;
  border-radius: 35px;
  border: none;
}
.homePage5 {
  width: 90vw;
  height: 118vh;
  display: flex;
  flex-direction: column;
  gap: 7vh;
  justify-content: start;
}
.homePage5cards {
  flex-direction: row;
  gap: 3vw;
  display: flex;
  overflow-x: scroll;
}
