.host_container{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 8vh;
}
.host_banner{
    width: 100vw;
    height: 68vh;
    background: #EFF0F2;
    display: flex;
    align-items: flex-end;
}
.Try_host{

    width: 38vw;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 56px;

    color: #484848;

}
.host_paragh{
    width: 38vw;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #9A9A9A;
}
.host_banner_inside{
    width: 48vw;
    height: 36vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.host_button{
    width: 8vw;
    height: 6vh;
    border-radius: 30px ;
    border: none;
    background: #9f9f9f;;
    border-radius: 30px;

}
.host_butt{
    width: 38vw;
    height: 8vh;
}
.host_middle{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.host_middle_inside{
    width: 90vw;
    height: 80vh;
    display: flex;
    
}
.host_card{
    width: 42vw;
    height: 70vh;
    border: none;
    background: #E0E2E6;
    border-radius: 12px;
}
.host_row{
    width: 90vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.host_paraghs{
    height: 70vh;
    width: 44vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.host_middle_footer_container{
    display: flex;
    flex-direction: column;

}
.host_card_container{
    display: flex;
    flex-direction: row;
    width: 90vw; 
    justify-content: space-between;

}
.host_card_small{
    width: 28vw;
    height:56vh;
    border: none ;
    background: #E0E2E6;
border-radius: 12px;
}
.host_card_father{
    height: 68vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.host_card_p{

width: 30vw;
height: 2vh;


font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 22px;
/* identical to box height */


color: #484848;
}
.host_card_variants{

width: 14vw;
height: 2.3vh;


font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 17px;

color: #9A9A9A;

}
