@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap%27");
.headerBigNone {
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.headerBig {
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #10284a, #35475f);
  /* border: 1px solid red; */
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  height: 8vh;
}
.headerContent {
  width: 22vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.headerContentRight {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 5vw;
  height: 5vh;
  border-radius: 35px;
  border: none;
  background-color: var(--dark-sec-500);
}
.headerHamburger {
  width: 2vw;
  height: 2vh;
  cursor: pointer;
  color: var(--white);
}
.headerContentRight1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 2vw;
  border-radius: 35px;
  height: 4vh;
}
.headerContentRight2 {
  width: 2vw;
  height: 4vh;
}
.headerHostBtn {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  width: 10vw;
  height: 5vh;
  background-color: var(--dark-sec-500);
  color: #ffffff;
  border-radius: 35px;
  border: none;
}
.headerLogo {
  height: 6vh;
}
.headerContent1 {
  display: flex;
  width: 8vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.headerhaichu {
  font-family: "Pacifico";
  font-size: 30px;
  color: var(--white);
}
.headerhaichu1 {
  font-family: "Pacifico";
  font-size: 30px;
  color: white;
}
.homeCard {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 13vw;
  height: 30vh;
  border: 1px solid black;
  background-color: #efefef;
  border-radius: 8px;
  border: none;
  background-image: url("./assets/asd.jpeg");
}
.homeCardContent {
  display: flex;
  flex-direction: column;
  width: 11vw;
  height: 26vh;
  justify-content: end;
}
.homeCardBtn {
  border: none;
}
.homeCardDiv {
  width: 3vw;
  height: 4vh;
  display: flex;
  text-align: center;
  align-items: end;
  justify-content: center;
}
.homeCardContentText1 {
  font-family: "arial";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  color: #484848;
}
.homeCardContent1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 13vw;
  height: 24vh;
}
.homeCardContentText2 {
  font-family: "arial";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  color: #9a9a9a;
}
.homeCardImg1 {
  width: 36px;
  height: 36px;
}
.homeCardContentImg {
  width: 70px;
  height: 70px;
  border-radius: 200px;
  background-color: #c2c6cc;
}
.homeCard2 {
  width: 25vw;
  height: 45vh;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.homeCard2Top {
  width: 25vw;
  height: 36vh;
  background-color: #e0e2e6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 30px;
  background-image: url("./assets/asd.jpeg");
}
.homeCard2TopContent {
  width: 23vw;
  height: 32vh;
  display: flex;
  flex-direction: column;
}
/* Footer css */

.Footer_container {
  width: 100vw;
  height: 52vh;
  margin-top: 200px;
  background-image: linear-gradient(#35475f, #10284a);
  display: flex;
  align-items: center;
  justify-content: center;
}
.Footer_container_small {
  width: 90vw;
  height: 50vh;
  /* border: 1px solid red; */
}
.homeCard2TopContentImg {
  width: 23vw;
  height: 3vh;
  display: flex;
  justify-content: end;
}
.homeCard2TopContentPrice {
  width: 22vw;
  height: 29vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}
.Footer_titles {
  width: 12vw;
  height: 3vh;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 10px;
  color: var(--white);
  display: flex;
  flex-direction: column;
}
.Footer_first {
  width: 24vw;
  height: 32vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Footer_buttons {
  width: 7.5vw;
  height: 5vh;
  border: none;
  background: #e0e2e6;
  border-radius: 6px;
}
.Footer_second {
  width: 16vw;
  height: 40vh;

  display: flex;
  flex-direction: column;
}
.Footer_third {
  width: 16vw;
  height: 32vh;
}
.homeCard2Under {
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 9vh;
  gap: 2vh;
  justify-content: center;
}
.homeCard2UnderText1 {
  font-family: "arial";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 22px;
  color: #484848;
}
.homeCard2UnderText2 {
  font-family: "arial";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 17px;
  color: #9a9a9a;
}
.zurh {
  width: 3vw;
  height: 3vh;
}
.homeCard2Tsegnud {
  width: 4vw;
  height: 3vh;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.homeCard2Tseg {
  text-align: center;
  width: 15px;
  height: 15px;
  border-radius: 100px;
  background-color: white;
}
.homeCard2TopContentPrices {
  font-family: "arial";
  text-align: center;
  width: 13vw;
  height: 2vh;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 22px;
  color: #9a9a9a;
}
/* Footer css */

.Footer_container {
  width: 100vw;
  height: 52vh;
  background-color: #eff0f2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Footer_container_small {
  width: 90vw;
  height: 40vh;
  display: flex;
  flex-direction: row;
}
.Footer_container_small {
  width: 90vw;
  height: 40vh;
  display: flex;
  flex-direction: row;
}
.Footer_four {
  width: 16vw;
  height: 32vh;

  display: flex;
  flex-direction: column;
}
.boxesBox {
  height: 230px;
  width: 240px;
  background-color: var(--dark-sec-500);
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--white);
  cursor: pointer;
}
.boxesText {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin-top: 20px;
}
.amenitiesMain {
  /* border: 1px solid black; */
  display: flex;
  width: 370px;
  height: 40px;
  justify-content: flex-start;
  align-items: center;
}
.amenitiesImg {
  margin-right: 18px;
}
.amenitiesText {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 18px;
  color: var(--white);
}
.displayFlex {
  display: flex;
  margin-right: 5px;
  height: 18px;
  width: 18px;
}
.displayNone {
  display: none;
}
.serviceMain {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 30px;
  flex-direction: column;
  /* border: 1px solid black; */
  height: 130px;
  width: 300px;
  box-shadow: 0px 0px 8px rgba(102, 104, 106, 0.5);
  border-radius: 6px;
  background-color: var(--dark-sec-500);
}
.serviceHeader {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: var(--white);
}
.serviceLocation {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: var(--gray);
}
.serviceChild {
  width: 50%;
  display: flex;
  align-items: center;
}
/* header login sign up navbar sukhbat css */
li {
  display: flex;
  padding: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  flex-direction: column;
  border-radius: 0.25rem;
  cursor: pointer;
}
li:hover {
  /* background: #9a9a9a; */
  color: black;
}

.Footer_informations {
  width: 6vw;
  font-style: normal;
  line-height: 46px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 22px;
  line-height: 46px;
  color: var(--gray);
}
.Footer_first {
  width: 24vw;
  height: 32vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Footer_buttons {
  width: 7.5vw;
  height: 5vh;
  border: none;
  background: #e0e2e6;
  border-radius: 6px;
}
.Footer_second {
  width: 16vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
}
.Footer_third {
  width: 16vw;
  height: 32vh;
  display: flex;
  flex-direction: column;
}
.Footer_four {
  width: 16vw;
  height: 32vh;
  display: flex;
  flex-direction: column;
}

/* addimage */
.App1 {
  width: 100vw;
  height: 100vh;
  border: solid 1px black;
}

.img123 {
  width: 300px;
  margin: 10px;
}

.butka {
  width: 8vw;
  height: 4vh;
  border: none;
  background-color: #9a9a9a;
  border-radius: 10px;
  color: #e0e2e6;
}
.small_container_app {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.app2 {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/*zurh css*/
.zurh-Btn {
  border: none;
  background: none;
}
.zurh-svg {
  width: 2vw;
  height: 2vh;
}
.zurh-big {
  display: flex;
  flex-direction: column;
  background: none;
  width: 2vw;
  height: 3vh;
  justify-content: center;
  align-items: center;
}

/*dark Light mode Button*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #35475f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #35475f;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*about us */
.about {
  width: 100vw;
  height: 100vh;
  background-color: #10284a;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutUs {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  width: 100vw;
  height: 20vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Medeelel {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.Medeelel1 {
  width: 20vw;
  height: 50vh;
  background-color: #c2c6cc;
  display: flex;
}
