@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap%27");
.headerBigNone {
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  /* border: 1px solid red; */
}
.headerBig {
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #10284a, #35475f);
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  height: 8vh;
}
.headerContent {
  width: 22vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.headerContentRight {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 5vw;
  height: 5vh;
  border-radius: 35px;
  border: none;
  background-color: var(--dark-sec-500);
}
.headerHamburger {
  width: 2vw;
  height: 2vh;
  cursor: pointer;
  color: var(--white);
}
.headerContentRight1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 2vw;
  border-radius: 35px;
  height: 4vh;
}
.headerContentRight2 {
  width: 2vw;
  height: 4vh;
}
.headerHostBtn {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  width: 10vw;
  height: 5vh;
  background-color: var(--dark-sec-500);
  color: #ffffff;
  border-radius: 35px;
  border: none;
}
.headerLogo {
  height: 6vh;
}
.headerContent1 {
  display: flex;
  width: 13vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.headerhaichu {
  font-family: "Pacifico";
  font-size: 30px;
  color: var(--white);
}
.headerhaichu1 {
  font-family: "Pacifico";
  font-size: 30px;
  color: white;
}
.homeCard {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 13vw;
  height: 30vh;
  border: 1px solid black;
  /* background-color: #efefef; */
  border-radius: 8px;
  border: none;
  background-color: var(--dark-sec-500);
}
.homeCardContent {
  display: flex;
  flex-direction: column;
  width: 11vw;
  height: 26vh;
  justify-content: end;
}
.homeCardBtn {
  border: none;
  background-color: none;
}
.homeCardDiv {
  width: 3vw;
  height: 4vh;
  display: flex;
  text-align: center;
  align-items: end;
  justify-content: center;
}
.homeCardContentText1 {
  font-family: "arial";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  color: white;
}
.homeCardContent1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 13vw;
  height: 24vh;
}
.homeCardContentText2 {
  font-family: "arial";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  color: var(--gray);
}
.homeCardImg1 {
  width: 36px;
  height: 36px;
  background: none;
}
.homeCardContentImg {
  width: 70px;
  height: 70px;
  border-radius: 200px;
  /* background-color: #c2c6cc; */
}
.homeCard2 {
  width: 25vw;
  height: 45vh;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.homeCard2Top {
  width: 25vw;
  height: 36vh;
  background-color: #636363;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 30px;
  background-image: url("./assets/asd.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.homeCard2TopContent {
  width: 23vw;
  height: 32vh;
  display: flex;
  flex-direction: column;
}
/* Footer css */

.Footer_container {
  width: 100vw;
  height: 52vh;

  background-image: linear-gradient(#35475f, #10284a);
  display: flex;
  align-items: center;
  justify-content: center;
}
.Footer_container_small {
  width: 90vw;
  height: 50vh;
  /* border: 1px solid red; */
}
.homeCard2TopContentImg {
  width: 23vw;
  height: 3vh;
  display: flex;
  justify-content: end;
}
.homeCard2TopContentPrice {
  width: 22vw;
  height: 29vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}
.Footer_titles {
  width: 12vw;
  height: 3vh;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 10px;
  color: var(--white);
  display: flex;
  flex-direction: column;
}
.Footer_first {
  width: 24vw;
  height: 32vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Footer_buttons {
  width: 7.5vw;
  height: 5vh;
  border: none;
  background: #e0e2e6;
  border-radius: 6px;
}
.Footer_second {
  width: 16vw;
  height: 40vh;

  display: flex;
  flex-direction: column;
}
.Footer_third {
  width: 16vw;
  height: 32vh;
}
.homeCard2Under {
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 9vh;
  gap: 2vh;
  justify-content: center;
}
.homeCard2UnderText1 {
  font-family: "arial";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 22px;
  color: var(--white);
}
.homeCard2UnderText2 {
  font-family: "arial";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 17px;
  color: var(--gray);
}
.zurh {
  width: 3vw;
  height: 3vh;
}
.homeCard2Tsegnud {
  width: 4vw;
  height: 3vh;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.homeCard2Tseg {
  text-align: center;
  width: 15px;
  height: 15px;
  border-radius: 100px;
  background-color: white;
}
.homeCard2TopContentPrices {
  font-family: "arial";
  text-align: center;
  width: 13vw;
  height: 2vh;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 22px;

  color: white;
}
/* Footer css */

.Footer_container {
  width: 100vw;
  height: 52vh;
  background-color: #eff0f2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Footer_container_small {
  width: 90vw;
  height: 40vh;
  display: flex;
  flex-direction: row;
}
.Footer_container_small {
  width: 90vw;
  height: 40vh;
  display: flex;
  flex-direction: row;
}
.Footer_four {
  width: 16vw;
  height: 32vh;

  display: flex;
  flex-direction: column;
}
.boxesBox {
  height: 230px;
  width: 240px;
  background-color: var(--dark-sec-500);
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--white);
  cursor: pointer;
}
.boxesText {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin-top: 20px;
}
.amenitiesMain {
  /* border: 1px solid black; */
  display: flex;
  width: 370px;
  height: 40px;
  justify-content: flex-start;
  align-items: center;
}
.amenitiesImg {
  margin-right: 18px;
}
.amenitiesText {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 18px;
  color: var(--white);
}
.displayFlex {
  display: flex;
  margin-right: 5px;
  height: 18px;
  width: 18px;
}
.displayNone {
  display: none;
}
.serviceMain {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 30px;
  flex-direction: column;
  /* border: 1px solid black; */
  height: 130px;
  width: 300px;
  box-shadow: 0px 0px 8px rgba(102, 104, 106, 0.5);
  border-radius: 6px;
  background-color: var(--dark-sec-500);
}
.serviceHeader {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: var(--white);
}
.serviceLocation {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: var(--gray);
}
.serviceChild {
  width: 50%;
  display: flex;
  align-items: center;
}
/* header login sign up navbar sukhbat css */
li {
  display: flex;
  padding: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  flex-direction: column;
  border-radius: 0.25rem;
  cursor: pointer;
  color: #10284a;
}
li:hover {
  /* background: #9a9a9a; */
  color: gray;
}
.Footer_informations {
  width: 6vw;
  font-style: normal;
  line-height: 46px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 22px;
  line-height: 46px;
  color: var(--gray);
}
.Footer_first {
  width: 24vw;
  height: 32vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Footer_buttons {
  width: 7.5vw;
  height: 5vh;
  border: none;
  background: #e0e2e6;
  border-radius: 6px;
}
.Footer_second {
  width: 16vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
}
.Footer_third {
  width: 16vw;
  height: 32vh;
  display: flex;
  flex-direction: column;
}
.Footer_four {
  width: 16vw;
  height: 32vh;
  display: flex;
  flex-direction: column;
}

/* addimage */
.App1 {
  width: 100vw;
  height: 100vh;
  border: solid 1px black;
}

.img123 {
  width: 300px;
  margin: 10px;
}

.butka {
  width: 8vw;
  height: 4vh;
  border: none;
  background-color: #9a9a9a;
  border-radius: 10px;
  color: #e0e2e6;
}
.small_container_app {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.app2 {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/*zurh css*/
.zurh-Btn {
  border: none;
  background: none;
}
.zurh-svg {
  width: 2vw;
  height: 2vh;
}
.zurh-big {
  display: flex;
  flex-direction: column;
  background: none;
  width: 2vw;
  height: 3vh;
  justify-content: center;
  align-items: center;
}
/*dark Light mode Button*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #35475f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #35475f;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*about us */
.about {
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-prim-500);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutUs {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  width: 100vw;
  height: 20vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "arial";
  font-style: normal;
  font-weight: 800;
  line-height: 46px;
  color: #ffffff;
}

/* .Medeelel1:hover {
  box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px,
    rgba(255, 255, 255, 0.12) 0px -12px 30px,
    rgba(255, 255, 255, 0.12) 0px 4px 6px,
    rgba(255, 255, 255, 0.17) 0px 12px 13px,
    rgba(255, 253, 253, 0.09) 0px -3px 5px;
} */
.aboutA {
  width: 19vw;
  height: 7vh;
  display: flex;
  justify-content: end;
  align-items: end;
  text-align: end;
}
.aboutRole {
  width: 16vw;
  text-align: start;
  font-family: "arial";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #199bec;
}
.aboutSuragch {
  width: 16vw;
  text-align: start;
  font-family: "arial";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  line-height: 2vh;
}
.Medeelel {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.Medeelel1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 22vw;
  height: 57vh;
  border-radius: 10px;
  gap: 2vh;
  background-color: #2c3342;
  display: flex;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
}

.aboutImg1 {
  background-image: url("./assets/Chinguun.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 13vw;
  border-radius: 200px;
  height: 26vh;
}
.aboutImg2 {
  background-image: url("./assets/Ermuun.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 13vw;
  border-radius: 200px;
  height: 26vh;
}
.aboutImg3 {
  background-image: url("./assets/orgil.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 13vw;
  height: 26vh;
  border-radius: 200px;
}
.aboutImg4 {
  background-image: url("./assets/Ermuun.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 13vw;
  border-radius: 200px;
  height: 26vh;
}
.aboutName {
  width: 16vw;
  font-family: "arial";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 46px;
  color: #ffffff;
}
/*account */
.acc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20vh;
  width: 100vw;
  height: 140vh;
  background-color: #35475f;
}
.accContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
  height: 55vh;
}
.accContent1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 20vw;
  height: 54vh;
  border-radius: 10px;
  background-color: #2c3342;
}
.accContent1Text1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 14vw;
  height: 19vh;
}
.accContent1Text1Upload {
  font-family: "arial";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}
.accContent1Text1Img {
  width: 14vw;
  height: 16vh;
}
.accContent1Text2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.accContent1Text2Content1 {
  font-family: "arial";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  width: 8vw;
  height: 3vh;
  text-align: center;
}
.accContent1Text2Content2 {
  font-family: "arial";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #dddddd;
  width: 17vw;
  height: 3vh;
  text-align: center;
}
.accContent1Text3 {
  display: flex;
  flex-direction: column;
  width: 17vw;
  height: 7vh;
  align-items: start;
  justify-content: space-between;
  gap: 2vh;
}
.accContent1Text3Check1 {
  width: 10vw;
  display: flex;
  gap: 1vw;
  flex-direction: row;
}
.accContent1Text3Check2 {
  width: 10vw;
  display: flex;
  flex-direction: row;
  gap: 1vw;
}
.accContent1Text3Check1Text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #dddddd;
}
.accContent1Text3content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}
.accContent1Text3User {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
}
.accContent2 {
  display: flex;
  flex-direction: column;
  width: 67vw;
  height: 54vh;
  gap: 2vh;
  align-items: start;
  justify-content: space-around;
}
.accContent2Text1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2vh;
}

.accContent2Text1User {
  font-family: "arial";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #ffffff;
}
.accContent2Text1Date {
  font-family: "arial";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #dddddd;
}
.accContent2Text3 {
  display: flex;
  flex-direction: row;
  width: 10vw;
  height: 2vh;
  justify-items: center;
  align-items: center;
  gap: 10px;
}
.accContent2Text2Btn {
  width: 7vw;
  height: 5vh;
  background: #ffffff;
  border: 1px solid #484848;
  border-radius: 6px;
}
.accContent2Text3Review {
  font-family: "arial";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.accContent2Zuras {
  width: 65vw;
  height: 2px;
  background-color: #ffffff;
}
.accContent2Text4 {
  font-family: "arial";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #ffffff;
}

/*account Edit*/
.accEdit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20vh;
  width: 100vw;
  height: 140vh;
  background-color: #35475f;
}
.accEditInps1About {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}
.accEditInps1Inp3 {
  width: 57vw;
  height: 14vh;
  background-color: #35475f;
  border-radius: 10px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 20px;
}
.accEditInps {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.accEditInps1 {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.accEditInps2 {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.accEditInps3 {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.accEditInps1Inp2 {
  width: 57vw;
  height: 4vh;
  background-color: #35475f;
  border-radius: 10px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 20px;
}
.accEditTexts {
  width: 57vw;
  height: 9vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.accEditText {
  width: 20vw;
  height: 5vh;
  text-align: start;
  font-family: "arial";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #dddddd;
}
.accEditBtns {
  width: 14vw;
  height: 9vh;
  display: flex;
  flex-direction: row;
  gap: 3vw;
}
.accEditBtn1 {
  width: 5vw;
  height: 5vh;
  gap: 1vw;
  display: flex;
  flex-direction: row;
  background-color: #35475f;
  align-items: center;
  justify-content: center;
  border: none;
}
.accEditBtnCancel {
  color: #ffffff;
  font-family: "arial";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}
.accEditBtn2 {
  width: 6vw;
  height: 5vh;
  background: #35475f;
  border: 1px solid #ffffff;
  border-radius: 28px;
  color: #ffffff;
}
