.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap%27");
.headerBigNone {
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.headerBig {
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c2c6cc;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  height: 8vh;
}
.headerContent {
  width: 18vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.headerContentRight {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 5vw;
  height: 5vh;
  border-radius: 35px;
  border: none;
}
.headerHamburger {
  width: 2vw;
  height: 2vh;
}
.headerContentRight1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 2vw;
  border-radius: 35px;
  height: 4vh;
}
.headerContentRight2 {
  width: 2vw;
  height: 4vh;
}
.headerHostBtn {
  font-family: "arial";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 17px;
  width: 10vw;
  height: 5vh;
  background-color: #484848;
  color: #ffffff;
  border-radius: 35px;
  border: none;
}
.headerLogo {
  height: 6vh;
}
.headerContent1 {
  display: flex;
  width: 8vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.headerhaichu {
  font-family: "Pacifico";
  font-size: 30px;
  color: black;
}
.headerhaichu1 {
  font-family: "Pacifico";
  font-size: 30px;
  color: white;
}
.homeCard {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 13vw;
  height: 30vh;
  border: 1px solid black;
  background-color: #efefef;
  border-radius: 8px;
  border: none;
}
.homeCardContent {
  display: flex;
  flex-direction: column;
  width: 11vw;
  height: 26vh;
  justify-content: end;
}
.homeCardBtn {
  border: none;
}
.homeCardDiv {
  width: 3vw;
  height: 4vh;
  display: flex;
  text-align: center;
  align-items: end;
  justify-content: center;
}
.homeCardContentText1 {
  font-family: "arial";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  color: #484848;
}
.homeCardContent1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 13vw;
  height: 24vh;
}
.homeCardContentText2 {
  font-family: "arial";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  color: #9a9a9a;
}
.homeCardImg1 {
  width: 36px;
  height: 36px;
}
.homeCardContentImg {
  width: 70px;
  height: 70px;
  border-radius: 200px;
  background-color: #c2c6cc;
}

.homeCard2Top {
  width: 23vw;
  border: 1px solid black;
  height: 42vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.homeCard2TopBtn {
  width: 2vw;
  height: 3vh;
}
.homeCard2TopContent {
  width: 20vw;
  height: 39vh;
  display: flex;
  flex-direction: column;
}
.Footer_container{
width: 100vw;
height: 52vh;
background-color: #EFF0F2;
display: flex;
align-items: center;
justify-content: center;
}
.Footer_container_small{
  width: 90vw;
  height: 40vh;
  display: flex;
  flex-direction: row;
}
.Footer_titles{
width: 12vw;
height: 3vh;
font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 10px;
color: #484848;
}
.Footer_informations{
width: 6vw;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 46px;
color: #484848;
}
.Footer_first{
  width: 24vw;
  height: 32vh;
 
  display: flex;
  flex-direction: column;
justify-content: space-between;
}
.Footer_buttons{
  width: 7.5vw;
  height: 5vh;
  border: none;
  background: #E0E2E6;
  border-radius: 6px;
}
.Footer_second{
  width: 16vw;
  height: 40vh;

  display: flex;
  flex-direction: column;

}
.Footer_third{
  width: 16vw;
  height: 32vh;

  display: flex;
  flex-direction: column;

}
.Footer_four{
  width: 16vw;
  height: 32vh;
  
  display: flex;
  flex-direction: column;

}
